<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="Clazz">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ct_id" jdbcType="INTEGER" property="ct_id" />
    <result column="te_id" jdbcType="INTEGER" property="te_id" />
    <result column="tu_id" jdbcType="INTEGER" property="tu_id" />
    <result column="room_id" jdbcType="INTEGER" property="room_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
</mapper>