<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.DormitoryMapper">
  <resultMap id="BaseResultMap" type="Dormitory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>

  <!--<insert id="insStudentDormiitoryAndClazz" parameterType="List">
    insert into t_student_class_dormitory values
    <foreach collection="list" item="item" index="index" separator=",">
      (default,#{item.sId},#{item.sName},#{item.cId},#{item.cName},null ,#{item.dNumber})
    </foreach>
  </insert>-->

  <insert id="insertStudentDormitory" parameterType="java.util.List">
    insert into t_student_dormitory(s_no, s_name, school, d_number)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.sNo}, #{item.sName}, #{item.school}, #{item.dNumber})
    </foreach>
  </insert>


</mapper>