<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="History">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tu_id" jdbcType="INTEGER" property="tuId" />
    <result column="tu_name" jdbcType="VARCHAR" property="tuName" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>

</mapper>