<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="History">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tu_id" jdbcType="INTEGER" property="tuId" />
    <result column="tu_name" jdbcType="VARCHAR" property="tuName" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <association property="student" javaType="Student">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="s_no" jdbcType="VARCHAR" property="sNo" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="school" jdbcType="VARCHAR" property="school" />
      <result column="grade" jdbcType="VARCHAR" property="grade" />
      <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
      <result column="birthday" jdbcType="DATE" property="birthday" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
      <result column="interview_history" jdbcType="VARCHAR" property="interviewHistory" />
      <result column="first_employment" jdbcType="VARCHAR" property="firstEmployment" />
      <result column="first_salary" jdbcType="DECIMAL" property="firstSalary" />
      <result column="employment_tracking" jdbcType="VARCHAR" property="employmentTracking" />
      <result column="photo" jdbcType="VARCHAR" property="photo" />
      <result column="resume" jdbcType="VARCHAR" property="resume" />
      <result column="class_hour" jdbcType="INTEGER" property="classHour" />
    </association>
    <association property="clazz" javaType="Clazz">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="ct_id" jdbcType="INTEGER" property="ctId" />
      <result column="te_id" jdbcType="INTEGER" property="teId" />
      <result column="tu_id" jdbcType="INTEGER" property="tuId" />
      <result column="room_id" jdbcType="INTEGER" property="roomId" />
      <result column="cname" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT s.*, h.detail,h.reason,scd.c_name cname FROM t_history h LEFT JOIN t_student s ON s.id=h.s_id LEFT JOIN t_student_class_dormitory scd ON s.id=scd .s_id WHERE CONCAT(s.s_no,s.`name`) LIKE "%"#{arg1}"%"and tu_id=#{arg0}
  </select>
  <select id="findMyHistory" resultMap="BaseResultMap">
    SELECT s.*, h.detail,h.reason,scd.c_name cname FROM t_history h LEFT JOIN t_student s ON s.id=h.s_id LEFT JOIN t_student_class_dormitory scd ON s.id=scd .s_id WHERE h.reason LIKE "%"#{arg0}"%" and s.s_no=#{arg1}
  </select>
</mapper>