<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.StudentCourseGradeMapper">
  <resultMap id="BaseResultMap" type="StudentCourseGrade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_id" jdbcType="INTEGER" property="s_id" />
    <result column="cr_id" jdbcType="INTEGER" property="cr_id" />
    <result column="grade" jdbcType="REAL" property="grade" />
  </resultMap>
</mapper>