<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambowEducation.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_no" jdbcType="VARCHAR" property="sNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="interview_history" jdbcType="VARCHAR" property="interviewHistory" />
    <result column="first_employment" jdbcType="VARCHAR" property="firstEmployment" />
    <result column="first_salary" jdbcType="DECIMAL" property="firstSalary" />
    <result column="employment_tracking" jdbcType="VARCHAR" property="employmentTracking" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="class_hour" jdbcType="INTEGER" property="classHour" />
    <association property="clazz" javaType="Clazz">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="cname" jdbcType="VARCHAR" property="name" />
    </association>
    <association property="dormitory" javaType="Dormitory">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="dnumber" jdbcType="VARCHAR" property="number" />
  </association>
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT s.*, scd.d_number dnumber,scd.c_name cname FROM t_student s,t_student_class_dormitory scd WHERE s.id = scd.s_id
  </select>
  <select id="findStudentBySno" resultMap="BaseResultMap">
    SELECT s.*, scd.d_number dnumber,scd.c_name cname FROM t_student s,t_student_class_dormitory scd WHERE s.id = scd.s_id and s.s_no=#{arg0}
  </select>

  <insert id="insertStudents" parameterType="java.util.ArrayList">
    insert into t_student(s_no,name,sex,school,grade,native_place,birthday,phone,id_number)
    values
    <foreach collection="list" item="student" index="index" separator=",">

      (#{student.sNo},#{student.name},#{student.sex},#{student.school},#{student.grade},
      #{student.nativePlace},#{student.birthday},#{student.phone},#{student.idNumber})

    </foreach>
  </insert>

  <update id="updateAllStudentClassBySno" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update t_student set
      c_id=#{item.cId}
      where s_no=#{item.sNo}
    </foreach>
  </update>


</mapper>