<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobobo.dao.WorkMapper">
  <resultMap id="BaseResultMap" type="com.xiaobobo.po.Work">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_id" jdbcType="INTEGER" property="s_id" />
    <result column="company_name" jdbcType="VARCHAR" property="company_name" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>

</mapper>